@font-face {
  font-family: harmonyOS;
  src: local('MiSans'), url('./assets//MiSans.ttf');
  font-display: swap;
}

@font-face {
  font-family: LXGWWenKai;
  src: local('LXGWWenKai'), url('./assets//LXGWWenKai-Regular.ttf');
  font-display: swap;
}

*,* *{
  font-family: harmonyOS;
}
body{
  margin: 0 ;
  padding: 0 var(--paddingValue);
  position: relative;
  box-sizing: content-box;
  --paddingValue: 10vw;
  background-color: #111;
  color: #ddd;
}
:root{
   --cardBackgroundImage: linear-gradient(to bottom, #555555,#494949)
}

@media (max-width: 820px) {
  body{
    --paddingValue: 7vw
  }
}

@media (max-width: 450px) {
  body{
    margin: 0 ;
    --paddingValue:6vw
  }
}